.App {
  text-align: center;
}

.App-logo {
  animation: App-logo-spin infinite 20s linear;
  height: 80px;
}

.App-header {
  background-color: #222;
  height: 150px;
  padding: 20px;
  color: white;
}

.App-title {
  font-size: 1.5em;
}

.App-intro {
  font-size: large;
}

.btn{
  background: orange;
  border-bottom-color: orangered;
  border-right-color: orangered;
  margin: 0 5px;
}
.cool-btn{
  background: lightblue;
  border-bottom-color: blue;
  border-right-color: blue;
}
.lame-btn{
  background: gray;
  border-bottom-color: darkgray;
  border-right-color: darkgray;
}
.danger-btn{
  background: red;
  border-bottom-color: darkred;
  border-right-color: darkred;
}

footer{
  height: 50px;
  width: 100vw;
  position: absolute;
  bottom: 0;
  background: #222222
}

ul > li {
  color: red;
  font-weight: 700;
  font-size: 20px;
}
#image_to_left{
  float: right;
}
ol li{
  color: blue;
}
section+h2{
  color: orangered;
}
.content_box{
  box-sizing: border-box;
  width: 300px;
  height: 300px;
  background: yellow;
  padding: 50px;
  border: 50px solid orange;
  margin: 50px;

}

ul{
  height: 200px;
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  align-items: center;
  flex-wrap: wrap;
}
li{
  width: 50vh
}
@keyframes App-logo-spin {
  from { transform: rotate(0deg); }
  to { transform: rotate(360deg); }
}
.background_image{
  width: 210px;
  height: 200px;
  background-image: url('http://placekitten.com/210/200');
  border: 1px solid black;
}
